<h1><img class = "headerimage" src="/images/employees.png" alt="employees-logo">Employees</h1>
<hr/>
<p><a href= "/employees/new">Add new employee</a>
  <hr/>
<table style = "width:100%">
  <tr>
    <th>Name</th>
    <th>Job Title</th>
    <th>Hourly Rate</th>
    <th>View Details</th>
  </tr>
  <% @employees.each do |employee| %>
  <tr>
    <td><%= employee.name%> </td>
    <td><%= employee.job_title%> </td>
    <td>£<%= employee.hourly_rate%> </td>
    <td><a href="/employees/<%=employee.id%>">View</a></td>
  </tr>
  <%end%>
</table>
