<h1><img class = "headerimage" src="/images/employees.png" alt="employees-logo">Add new employee</h1>
<hr/>
<form action="/employees" method = "post">

  <label for="name">Name:</label>
  <input type="text" id="name" name="name">
  <label for="job_title">Job Title:</label>
  <input type="text" id="job_title" name = "job_title"
  <label for="hourly_rate">Hourly rate:</label>
  <input type="number" id="hourly_rate" name="hourly_rate">
<input type="submit" value="Create New Employee">

</form>
