<h1><img class = "headerimage" src="/images/employees.png" alt="employees-logo">Employees Details</h1>
<hr/>
<p>Name: <%= @employee.name%> </p>
<p>Job Title: <%= @employee.job_title%> </p>
<p>Hourly Rate: £<%=  '%.2f' % @employee.hourly_rate%></p>
<form action="/employees/<%= @employee.id%>/edit" method = "get">
<input type="submit" value="Edit Employee">
</form>
