<form action="/expenses/new" method = "post">

  <label for="cost_excluding_vat">Cost, excluding VAT:</label>
  <input type="text" id="cost_excluding_vat" name="cost_excluding_vat">
  <label for="vat">VAT:</label>
  <input type="text" id="vat" name = "vat"
  <label for="category">Category:</label>
  <input type="text" id="category" name="category">
  <label for="project_id">Project ID:</label>
  <input type="number" id="project_id" name="project_id">
  <label for="employee_id">Employee ID:</label>
  <input type="number" id="category" name="category">

<input type="submit" value="Create New Employee">

</form>
