<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" href="/images/consultancy_logo_graphic_only.jpeg" />
  <link rel="stylesheet" type="text/css" href="/styles/structure.css">
  <title>Consultancy Company</title>
</head>
<nav>
  <ul class="nav">
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/employees">Employees</a>
    </li>
    <li>
      <a href="/time-units">Timesheets</a>
    </li>
    <li>
      <a href="/expenses">Expenses</a>
    </li>
    <li>
      <a href="/projects">Projects</a>
    </li>
  </ul>
</nav>
<body>
<main>
  <%= yield %>
  </section>
  </main>
</body>
</html>
