<form action="/time-units" method = "post">

  <label for="hours">Hours:</label>
  <input type="number" step="0.01" id="hours" name="hours">
  <label for="category">Category:</label>
  <input type="text" id="category" name="category">

  <label for="project_id">Project:</label>
  <select name="project_id" id="project_id">
    <% @projects.each do |project| %>
    <option value="<%= project.id%>"><%=project.name %></option>
  <%end%>
  </select>

  <label for="employee_id">Employee:</label>
  <select name="employee_id" id="employee_id">
    <% @employees.each do |employee| %>
    <option value="<%= employee.id%>"><%=employee.name %></option>
  <%end%>
  </select>

<input type="submit" value="Create New Time">

</form>
