<h1><img class = "headerimage" src="/images/project.png" alt="project-logo">Add Project</h1>
<hr/>

<form action="/projects" method = "post">

  <label for="name">Name:</label>
  <input type="text" id="name" name="name">
  <label for="client">Client:</label>
  <input type="text" id="client" name = "client">
  <label for="time_budget">Time Budget:</label>
  <input type="number"  step="0.01" id="category" name="category">
  <label for="expenses_budget">Expenses Budget:</label>
  <input type="number"  step="0.01" id="expenses_budget" name="expenses_budget">
  <label for="project_status">Project Status:</label>
  <input type="text" id="project_status" name="project_status">

<input type="submit" value="Create New Project">
</form>
